.toolbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: orange;
}

@media screen and (min-width: 768px) {
    /*　画面サイズが1024pxからはここを読み込む　*/
    .f-container {
        display: flex;
        justify-content: flex-end;
    }
}
